#root {
  margin: 100px;
}

.field {
  $square-side: 48px;
  position: relative;
  display: inline-block;

  & &__button {
    cursor: pointer;
    width: $square-side;
    height: $square-side;
    font-family: FontAwesome;
    color: #FFF;
    border: 0;
    transition: background-color 2s;
  }

  & &__button_remove {
    background-color: #b10000;

    &:hover {
      background-color: #c74b48;
    }

    &::before {
      content: '\f068';
    }
  }

  & &__button_hidden {
    visibility: hidden;
  }

  & &__button_add {
    background-color: #f2a400;

    &::before {
      content: '\f067';
    }
    &:hover {
      background-color: #f4be52;
    }
  }

  & &__button {
    position: absolute;

    &:focus {
      outline: none;
    }
  }

  & &__button_remove-row {
    right: 100%;
    margin: 1px 2px 0 0;
  }

  & &__button_remove-col {
    bottom: 100%;
    margin: 0 0 2px 1px;
  }

  & &__button_add-row {
    top: 100%;
    margin: 2px 0 0 3px;
  }

  & &__button_add-col {
    left: 100%;
    margin: 3px 0 0 2px;
  }

  & &__cell {
    width: $square-side;
    height: $square-side;
    background-color: #48a9e5;
    padding: 0;
    min-width: $square-side;
  }

  & &__table {
    border: solid 1px #48a9e5;
  }
}
